@import "global";

$primary: $primario;
$secondary: $secundario;

//import the functions & variables
@import "../scss/functions";
@import "../scss/variables";

$mis-colores: (
    "gris": $gris,
    "grisOscuro": $grisOscuro,
);

$theme-colors: map-merge($mis-colores, $theme-colors);

// import bootstrap
@import "../scss/bootstrap.scss";

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}

header .active {
    color: red;
    font-weight: bold;
}

.foto_perfil {
    width: 35px;
    height: 35px;
}

.icono_app {
    width: 60%;
    aspect-ratio: 1 / 1;
    margin: 10px 20%;
    border-radius: 25px;
}

#logo {
    width: 25px;
    margin-right: 10px;
    border-radius: 10px;
}